* {
  width: auto;
  margin: auto;
  font-size: 1.5rem;
  color: white;
}

.container {
  width: 80%;
  margin: auto;
}

.position {
  min-height: 100vh;

  background: black;
  /* position: ; */
}

.position1 {
  background: #49b68e;
  color: white;
  font-size: 2rem;
  height: 4rem;
  display: flex;
  text-align: center;
  position: fixed;
}

.position2 {
  min-height: 200vh;
  background: #1fc4e0;
  position: relative;
}

.flex1 {
  display: grid;
  grid-template-areas:
    "flex-1 . ."
    ". flex-2 ."
    ". . flex-3";
  position: sticky;
}
.flex-1 {
  grid-area: flex-1;
  width: 60%;
  padding-top: 20px;
}

.flex-2 {
  grid-area: flex-2;
  width: 60%;
}

.flex-3 {
  grid-area: flex-3;
  width: 60%;
  padding-bottom: 40px;
}

.position3 {
  min-height: 50vh;
}

.grid1 {
  background: #b946a4;
  height: 4rem;
  display: flex;
  justify-content: center;
}
/* Why boxes are small */
.grid2 {
  display: grid;
  background: #f2d40d;
  min-height: 50vh;

  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";

  gap: 20px;
  padding-top: 20px;
}

.grid2 > div {
  display: grid;
  justify-content: center;
  align-items: center;
}

.item-1 {
  grid-area: item1;
  background: #1fc4e0;
}
.item-2 {
  grid-area: item2;
  color: #49b68e;
  background: #000;
}
.item-3 {
  grid-area: item3;
  background: orange;
}
.item-4 {
  grid-area: item4;
  background: red;
}
.item-5 {
  grid-area: item5;
  background: #46b95b;
}
.item-6 {
  grid-area: item6;
  background: #88a05f;
}
/* -------------------------------------------------------------------------------------------------------- */

.heading {
  background: #88a05f;
  height: 4rem;
  display: flex;
}

.p {
  background: #0d2bf2;
  min-height: 40vh;
  padding: 4px;
}

.footer {
  background: white;
  min-height: 20vh;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
